@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Josefin Sans';
}

#root{
  width: 100%;
}

body{
  width: 100%;
  height: auto;
  background-image: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 693px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.logo{
  width: 134px;
  height: 36px;
  transform: none;
  object-fit: cover;
}

header{
  margin-top: 40px;
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
}

header button{
  margin-right: 100px;
  width: 84px;
  height: 36px;
  background: #e50914;
  color: white;
  font-size: 16px;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}

header select{
  width: 103px;
  height: 36px;
  background: transparent;
  color: white;
  border:  solid 1px white;
}

select option[value] {
  background: black;
}

main{
  margin-top: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

main h1{
  font-size: 50px;
  color: white;
  width: 600px;
}

main p{
  font-size: 19px;
  color: white;
  margin-top: 20px;
}


.search-bar{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar input{
  width: 450px;
  height: 60px;
  outline: none;
  font-size: 20px;
  padding-left: 20px;
}

.search-bar input::placeholder{
  padding-left: 20px;
}

.input-box{
  display: flex;  
}

.search-bar p{
  width: 200px;
  height: 60px;
  background: #e50914;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  cursor: pointer;
}

.result-container{
  width: 95%;
  height: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.container{
  position: relative;
}

.movie-img{
  width: 300px;
  height: 400px;
  flex-basis: 22%;
  border-radius: 5px;
  cursor: pointer;
}


.title{
  margin-top: 5px;
  display: flex;
  width: 280px;
  color: #062D3E;
  font-size: 20px;
}

.rating{
  display: block;
  margin-top: 5px;
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #e50914;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
}

.text:hover{
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 #e50914;
    filter: hue-rotate(45deg); }
}

footer{
  height: 400px;
  background: black;
  margin-top: 100px;
  color: #737373;  
}

footer a{
  color: #737373
}

.footer-text1{
  display: block;
  padding-top: 50px;
  font-size: 16px;
}

.footer-nav{
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  margin-top: 50px;
}

.footer-nav-items{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 13px;
}

.footer-nav-items a:hover{
  text-decoration: underline;
}

.footer-text1,
.footer-nav,
footer select,
.footer-text2{
  margin-left: 200px;
}

footer select{
  width: 140px;
  height: 50px;
  background: transparent;
  border: solid 1px #737373;
  color: #737373;
  margin-top: 50px;
}

footer select::before{
  content: "\e896";
  color: #737373;
  
}

.footer-text2{
  margin-top: 25px;
}

.screen{
  display: none;
}

.loading-box{
  position: relative;
}

.loading{
  position:absolute;
  width: 50px;
  height: 50px;
  top: -55px;
  left: 70px;
}
/* MEDIA */
@media screen and (max-width: 700px){
  header button{
    margin-right: 10px;
  }

  main h1{
    width: auto;
  }

  .search-bar input{
    width: 230px;
    height: 60px;   
  }

  .movie-img{
    width: 150px;
    height: 200px;    
  }

  .text{
    display: none;
  }
  
  .footer-text1,
  .footer-nav,
  footer select,
  .footer-text2{
  margin-left: 20px;
}

footer{
  height: auto;
}

.footer-nav{
  flex-wrap: wrap;
}
  
}

@media screen and (max-width: 500px){
  .footer-nav,
  .input-box p{
    display: none;
  }

  header{
    margin-left: 10px;
  }

  .movie-img{
    width: 300px;
    height: 400px;    
  }

  
}